.book .book-summary, .book .book-body  {
    font-family: Lato,  "Microsoft YaHei UI", "Microsoft Yahei", "PingFang SC", "Lantinghei SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "WenQuanYi Zen Hei", "Noto Sans CJK SC", "Microsoft JhengHei UI", "Microsoft JhengHei", "PingFang TC", "Lantinghei TC", "Noto Sans CJK TC", "Helvetica Neue", Helvetica, Arial,sans-serif;
}
.markdown-section {
    line-height: 2em;
}
.gitbook-link {
    display: none !important;
}
#anchor-navigation-ex-navbar {
    top: 150px;
}
.page-inner{
    max-width:1150px;
}
.book .book-summary ul.summary li a, .book .book-summary ul.summary li span{
    font-weight: 100;!important;
    padding-left: 15px;
}
.book-summary{
    background-color: #ffffff;!important;
}
.book-body{
    background-color: #f4f6fa;!important;
}
.book .book-summary ul.summary li a, .book .book-summary ul.summary li span{
    background-color: #ffffff;!important;
}
.book .book-summary ul.summary ul.articles li a, .book .book-summary ul.summary ul.articles li span{
    background-color: #ffffff;!important;
}
.book .book-summary ul.summary li.active>a, .book .book-summary ul.summary li.active>span{
    background-color: #ffffff;!important;
    color: #01b9d1;!important;
}
.book .book-summary ul.summary ul.articles li.active>a, .book .book-summary ul.summary ul.articles li.active>span{
    background-color: #f4f6fa;!important;
    color: #01b9d1;!important;
}
.book .book-summary ul.summary ul.articles li a:hover{
    background-color:#f4f6fa;!important;
    color: #01b9d1;!important;
}
.book .book-summary ul.summary li a:hover{
    background-color:#f4f6fa;!important;
    color: #01b9d1;!important;
}
.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section h5, .markdown-section h6{
    font-weight: 400;!important;
}
.markdown-section blockquote {
    color: #000;!important;
    background-color: #ffffcc;
}
.markdown-section .copy_p{
    background-color: #eeeeee;
}
.markdown-section pre{
    background-color: #eeeeee;
}
.book.font-size-0 .book-body .page-inner section {
    font-size: 1.1rem;
}
.book.font-size-1 .book-body .page-inner section {
    font-size: 1.3rem;
}
.book.font-size-2 .book-body .page-inner section {
    font-size: 1.5rem;
}
.book.font-size-3 .book-body .page-inner section {
    font-size: 1.7rem;
}
.book.font-size-4 .book-body .page-inner section {
    font-size: 1.9rem;
}
.book-summary ul.summary li.divider {
    display: none;
}
.book-summary ul.summary {
    margin: 0;
}
#book-search-input {
    border-bottom: 0;
    margin-bottom: 0;
}
#book-search-input input, #book-search-input input:focus, #book-search-input input:hover{
    border: 1px solid #ccc;
}
.book-summary .summary>.chapter:first-child{
    display: none;
}
.page-inner table{
    table-layout: fixed;
	
/*当页面小于768px 时，大屏幕，主要是PC 端*/
@media (min-width: 768px)  {
    .page-inner{
        margin-left: 50px;
    }
    .navigation{
        display: none;
    }
}
/*大于768像素的屏幕里，中等屏幕，分辨率低的PC*/
@media (max-width: 767px) {

}