.markdown-section .copy_p{
    text-align: right;
    line-height: 1;
    margin-bottom: 0;
    background: #f7f7f7;
    padding-top: 10px;
    padding-right: 10px;
}
.copy{
    cursor: pointer;
    color: hsla(0,0%,55%,.8);
    position: relative;
}
.code-cp-tip {
    display: none;
    position: absolute;
    top: -30px;
    right: 0;
    width: 60px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: rgba(51,51,51,.8);
    color: #fff;
    text-align: center;
}
.code-cp-hover  .code-cp-tip{
    display: block;
}
@font-face {
    font-family: 'iconfont';  /* project id 298988 */
    src: url('//at.alicdn.com/t/font_298988_qfdxocwc23q.eot');
    src: url('//at.alicdn.com/t/font_298988_qfdxocwc23q.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_298988_qfdxocwc23q.woff') format('woff'),
    url('//at.alicdn.com/t/font_298988_qfdxocwc23q.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_298988_qfdxocwc23q.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:18px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}